/*
---------------------------------------------------
  INPUTS
---------------------------------------------------
*/

/*
  || Inputs
*/

.input {
  border: 2px solid #ced4da;
  border-radius: 0.25rem;
  line-height: 1.25rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
}

.input:focus {
  border-color: var(--input-focus-border-color);
  border-width: 2px;
  opacity: 1;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/*
  || Textareas
*/

.textarea {
  border: 2px solid #ced4da;
  border-radius: 0.25rem;
  line-height: 1.25rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
}

.textarea:focus {
  border-color: var(--input-focus-border-color);
  border-width: 2px;
  opacity: 1;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/*
  || Selects
*/

.select {
  border: 2px solid #ced4da;
  border-radius: 0.25rem;
  line-height: 1.25rem;
  padding-bottom: 0.475rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.475rem;
  width: 100%;
}

.select:focus {
  border-color: var(--input-focus-border-color);
  border-width: 2px;
  opacity: 1;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/*
  || Inputs States
*/

.input.disabled, .input:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
  opacity: 0.5;
}

.input.disabled:focus, .input:disabled:focus {
  border: 2px solid #ced4da;
  opacity: 0.5;
}

.input.readonly, .input:not(:disabled):read-only {
  background-color: #e9ecef;
  opacity: 1;
}

/*
  || Validation
*/
.input.is-invalid,
.select.is-invalid,
.textarea.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  color: #dc3545;
  display: none;
}

/* Display the invalid feedback information when the input/checkbox has the class "is-invalid" */
.input.is-invalid + .invalid-feedback {
  display: block;
}

.checkbox.is-invalid ~ .invalid-feedback {
  display: block;
}

.select.is-invalid ~ .invalid-feedback {
  display: block;
}

.textarea.is-invalid ~ .invalid-feedback {
  display: block;
}

/* Change the color from the adjacent label when the input has the class "is-invalid" */
.checkbox.is-invalid + label {
  color: #dc3545;
}