/*
---------------------------------------------------
  HELPERS
---------------------------------------------------
*/

/*
  || Colors for background
*/

.bg-blue {
  background-color: #2980b9;
  color: #ffffff;
}

.bg-dark-blue {
  background-color: #34495e;
  color: #ffffff;
}

.bg-green {
  background-color: #16a085;
  color: #ffffff;
}

.bg-light-gray {
  background-color: #bdc3c7;
  color: #333333;
}

.bg-orange {
  background-color: #f39c12;
  color: #ffffff;
}

.bg-purple {
  background-color: #8e44ad;
  color: #ffffff;
}

.bg-red {
  background-color: #e74c3c;
  color: #ffffff;
}

/*
  || Containers
*/

.container {
  background-color: var(--container-background-color);
  border-radius: 0.625em;
  padding: 1em;

  &:not(:last-child)  {
    margin-bottom: 1.25em;
  }
}

/*
  || Text
*/

.text-lowercase {
  text-transform: lowercase;
}

.text-sideways {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.text-uppercase {
  text-transform: uppercase;
}

/*
  || Text colors
*/

.text-danger {
  color: #dc3545;
}

.text-dark {
  color: #343a40;
}

.text-info {
  color: #17a2b8;
}

.text-muted {
  color: #6c757d;
}

.text-primary {
  color: #007bff;
}

.text-secondary {
  color: #6c757d;
}

.text-success {
  color: #28a745;
}

.text-warning {
  color: #ffc107;
}